:root {
    --High1: #3ac97a;
    --High2: #3ac99c;
    --High3: #248f6d;
    --Back1: #43455c;
    --Back2: #3c3f58;
    --Back3: #2e3047;
}


/* overall style*/

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--Back3);
}

.container-fluid {
    padding: 50px 50px;
}


/* style for the navigation bar */

.navbar {
    background: linear-gradient(90deg, var(--High2) 35%, var(--High1) 65%, var(--High2) 100%);
    font-size: 13px !important;
    font-weight: bold;
    letter-spacing: 2px;
    border: 0;
}

.navbar li a,
.navbar {
    color: var(--LHigh2) !important;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
    color: var(--High1) !important;
    background-color: var(--Back2) !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: var(--High2) !important;
}


/* style for the welcome element*/

.welcometext {
    color: var(--High2);
    font-size: 50px !important;
}

.name {
    padding-left: 5%;
    color: var(--High1) !important;
    font-size: 200px;
}

.welcome {
    background-color: var(--Back2);
}

.welcomeblock {
    margin-top: 30px
}

.proffoto {
    max-width: 100%;
    height: 350px;
    margin: 3%;
    border: 5px solid var(--High2)
}

.infoTable {
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
    color: white;
    margin-top: 60px;
}

.infoTable td {
    border-bottom: 2px solid var(--High2);
    padding: 8px 8px 0px 15px;
}

.infoTable .high {
    color: var(--High1);
    font-weight: bold;
}