:root
{
    --Cyan1: #f2fffd;
    --Cyan2: #3BBA9C;
    --Cyan3: #388087;
    --Grey1: #707793;
    --Grey2: #43455c;
    --Grey3: #3C3F58;
    --Grey4: #2E3047;
}
*
{
    margin: 0;
    padding: 0;
}
.kop1
{
    color: var(--Cyan2);
}