:root {
    --High1: #3ac97a;
    --High2: #3ac99c;
    --High3: #248f6d;
    --Back1: #43455c;
    --Back2: #3c3f58;
    --Back3: #2e3047;
}


/* overall style*/

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--Back3);
}

.container-fluid {
    padding: 50px 50px;
}


/* style for the navigation bar */

.navbar {
    background: linear-gradient(90deg, var(--High2) 35%, var(--High1) 65%, var(--High2) 100%);
    font-size: 1.4vh !important;
    font-weight: bold;
    letter-spacing: 5px;
    border: 0px;
    color: var(--Back3)
}

.navbar li a,
.navbar {
    color: var(--Back2) !important;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
    color: var(--High1) !important;
    background: var(--Back2) !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: var(--Back2) !important;
    background-color: var(--High2) !important;
}


/* style for the welcome element*/

.welcome {
    background-image: url("../Img/WelcomeFoto2.jpg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
}

.welcomeblock {
    margin-top: 18vh;
    background-color: var(--Back2);
}

.welcomeTable {
    background-color: var(--Back2);
}

.proffoto {
    width: 100%;
    border: 0.5vh solid var(--High2);
    margin-top: 15%;
}

.infoTable {
    font-family: Helvetica, sans-serif;
    width: 100%;
    color: white;
    margin-top: 5vh;
    font-size: 2vh;
    margin-bottom: 8vh;
}

.infoTable td {
    border-bottom: 3px solid var(--High3);
    padding: 8px 8px 0px 15px;
}

.infoTable .high {
    color: var(--High2);
    font-weight: bold;
}

.infoTable .low {
    color: lightgray;
    font-style: italic;
}

.welcometext {
    color: var(--High2);
    font-size: 5vh !important;
}

.welcometext1 {
    padding-top: 6vh;
}

.welcometext2 {
    padding-top: 1vh;
    color: var(--High3);
    font-size: 3vh !important;
    font-style: italic;
}

.name {
    color: var(--High1) !important;
    font-size: 15vh;
}